#settings{
	text-align:left;
	background:#F2E4C1;
	margin-left:auto;margin-right:auto;
	display:none;
	width:700px;
}
#settings #tabs{
	clear:both;
}
#tabs #tablist{
	display: inline;
}
#tablist ul{
	padding: 3px;
}
#tablist ul > li{
	float: left;
	list-style-type: none;
	padding: 7px;
}

.active{
	text-decoration: underline overline;
}
